<div>Welcome to {{message}}
  <!-- <h2>Routing and navigation</h2> -->
</div>
<!-- <nav>
  <a routerLink="/departments" routerLinkActive="active">Departments</a>
  <a routerLink="/employees" routerLinkActive="active">Employees</a>
</nav> -->
<!-- <span>{{ title }} </span> -->
<!-- <app-test (childEvent)="message=$event" [parentData]="name"></app-test> -->
<!-- <app-test1></app-test1> -->
<!-- <app-structural-derivatives></app-structural-derivatives> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-employee-list></app-employee-list> -->
<!-- <div> hello </div> -->
<h2>Material</h2>
<!-- <button mat-raised-button >Hello world</button> -->
<!-- <mat-sidenav-container>
  <mat-sidenav opened>Sidenav</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav position="end">End</mat-sidenav>
  <section>Main</section>
</mat-sidenav-container> -->
<mat-toolbar color="primary">
<mat-toolbar-row>
  <button mat-icon-button>
    <mat-icon >menu</mat-icon>
  </button>
  <h1>Angualar Material Sidenav</h1>
</mat-toolbar-row>
</mat-toolbar>
<!-- <mat-sidenav-container>
 
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item>Home</a>
      <a mat-list-item>Account</a>
      <a mat-list-item>About Us</a>
      <a mat-list-item>Contact Us</a>
      <a mat-list-item>Help</a>
    </mat-nav-list>
  </mat-sidenav>
 
  <mat-sidenav-content>
    <div style="height:8vh">Main</div>
  </mat-sidenav-content>
  
</mat-sidenav-container> -->

<router-outlet></router-outlet>
